body{
    padding: 0px;
    margin: 0px auto;
    width: 100%;
    font-family: Montserrat, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
}

/* menu navegação */

#menu-top {
    width: 99.5%;
    height: 50px;
    display: flex;
    background-color: #ffffff;
    padding: 5px;
    border-top: 2px solid #6c8231 ;
    border-bottom: 2px solid #6c8231 ; ;
    align-items: center;
    

    position: fixed;        /* mantém o menu ao utilizar o scroll*/
}
    #menu{
        width: 100%;

    }
    #menu-top div a{       
        font-size: 20px;
        color: #6c8231;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 6%;
        align-items: center; 
        padding: 12px;
    }
    #menu-top div a:hover {             /* efeito ao passar o mouse sobre os itens do menu */
        background-color: #6c8231;
        color: white;
        transition: 0.5s ease-in-out;
        border-radius: 10px;
    }

/* edição do "sobre" */

#sobre {
    width: 100%;
    display: grid;
    place-items: center;
    background-image: url(imgs/top2.jpg);
    height: 1900px;
    text-align: center;
    color: rgb(255, 255, 255);
} 
    #sobre img{
        margin-top: -250px;      
    }
    #sobre p{
        font-size: 40px;
        background-color: #6c82319f;
        padding: 10px;
        border-radius: 15px;
        margin: 0px auto;
        font-weight: 50;
        margin-top: -600px;
    }
    #sobre span {
        background-color: #6c82319f;
        padding: 10px;
        border-radius: 15px;
        font-size: 20px;
        margin-top: -500px;
    }
    #sobre strong {
        font: bolder;
        font-weight: 800;
        font-size: 40px;
    }

/* edição da galeria */

#galeria {
    display: grid;
    place-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #6c8231cc ;
    padding-top: 100px;
    padding-bottom: 100px;
}
    #galeria strong {
        font: bolder;
        font-weight: 800;
        font-size: 50px;
    }
    #galeria p {
        font-size: 25px;
    }
    #galeria p a{
        color: white;
    }
    #galeria p a:hover{             /* efeito ao passar o mouse sobre o link 'clique aqui' */
        background-color: #6c8231;
        padding: 5px;
        border-radius: 10px;
        transition: 0.2s ease-in-out;
        font-size: 35px;
    }

/* edição da 'sustentabilidade */

#sustentabilidade{
    display: grid;
    place-items: center;
    text-align: center;
    color: #6c8231;
    

}
    #sustentabilidade .text1 strong{
        font-size: 50px;
        font-weight: 800;
    }
    #sustentabilidade .text1 p {
        font-size: 25px;
    }
    #sustentabilidade .text1{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #sustentabilidade .cards {
        display: grid;
        grid-auto-flow: column;
        background-image: url(imgs/top3.jpg); /* IMAGEM DE BACKGROUD */
        width: 94.5%;
        padding: 50px;
        color: white;
        place-content: center;  
        justify-content: space-around;
        align-items: center;
        height: 900px;
    }
        #sustentabilidade .cards img {
        
        margin-bottom: 20px;
    }
    #sustentabilidade .cards div p {
        
        background-color: #6c8231;
        width: 250px;
        height: 150px;
        border-radius: 10px;
        margin: auto;
        padding: 20px;
        font-size: 15px;        
    }

/* EDIÇÃO DO 'CALENDÁRIO' */


